* {
	margin: 0px;
}

body {
	display: flex;
	justify-content: center;
	padding: 50px;
	background-color: #232323;
}

.container {
	height: 700px;
	width: 600px;
	background-color: #3c3c3c;
	border-radius: 15px;
}

.container .labelh1 {
	color: white;
	padding: 25px;
	justify-content: center;
	text-align: center;
}

.container .inputTarefas {
	height: 100px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.container .inputTarefas label {
	color: white;
	font-size: 24px;
	margin-right: 20px;
}

.container .inputTarefas .InputTask {
	height: 29px;
	width: 350px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
.container .inputTarefas .btn {
	height: 35px;
	width: 100px;
	margin-left: auto;
	border: none;
	border-radius: 5px;
	background-color: #232323;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.ReturnTasks ul li {
	color: white;
	font-size:26px;
}