* {
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

    background-image: url("/Task-List/assets/mountain01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    display: flex;
    flex-direction: row;
}

.container {
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    border-radius: 15px;
}

.headline {
    height: 250px;
    width: 500px;
    border-radius: 15px;
    background-color: transparent;
    backdrop-filter: blur(25px);
    background-color: #ffffff6d;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline > .input-task {
    width: 350px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #71717137;
}

.btn-input {
    height: 30px;
    width: 150px;

    border: none;
    border-radius: 5px;
    background-color: #568EB3;
    cursor: pointer;
}


.footer-clock {
    height: 400px;
    width: 500px;
    border-radius: 15px;
    margin-top: 100px;
    background-color: transparent;
    backdrop-filter: blur(25px);
    background-color: #ffffff6d;
}

.container>h1 {
    font-size: 64px;
    margin: 10px;
}

.task-list {
    height: 100px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

    background-color: transparent;
    backdrop-filter: blur(25px);
    background-color: #ffffff6d;
}

.task-list>.task {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.task-list>.task>h3 {
    font-size: 24px;
    font-weight: bold;
}

.task-list>.task>button {
    height: 50px;
    width: 50px;

    background-color: transparent;
    cursor: pointer;
    border: none;
}

.task-list>.task>button>img {
    width: 100%;
}