 * {
	margin: 0px;
 }

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px;
}

.tarefa {
	height: 30px;
	width: 350px;
}
.time {
	height: 33px;
	width: 150px;
}
.btn {
	height: 35px;
	width: 100px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.lista-de-tarefas {

}

li {
	font-size: 20px;
	list-style-type: none;
}